/* Carrito */

.resumen-carrito-products {
    margin: 30px;
}

.vaciarcarrito {
    width: 88%;
    text-align: right;
    button {
        background: transparent;
        border: 0;
        text-decoration: underline;
        cursor: pointer;
    }
}

.buttonSend {
    padding: 10px;
    width: 250px;
    border: 0;
}

.submitDisable {
    background: #696666;
    color: #c0bdbd;
}

.submitok {
    background: #000;
    color: #fff;
    cursor: pointer;
}

.inputForm {
    margin: 10px;
    padding: 7px;
}

.bloqueinputs {
    width: 100%;
    .inputForm {
        width: 30%;
    }
}

.bloqueemails {
    width: 100%;
    .inputForm {
        width: 46%;
    }
}

.resumen-carrito-amount {
    background-color: $colorGreyF1;
    height: 200px;
    padding: 10px;
    margin: 30px;
    text-align: center;
    .item-price {
        display: flex;
        justify-content: space-between;
        p {
            font-weight: 300;
        }
    }
}

.product-cart {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.texto-cart {
    font-size: 14px;
    font-weight: 300;
}

.prodcutos-agregados {
    .product-cart {
        .col-1-img-name {
            width: 40%;
            img {
                width: 50px;
                vertical-align: middle;
                margin: 0 10px 0 0;
            }
            .name-brand {
                display: inline-block;
                vertical-align: middle;
                h3 {
                    font-size: 16px;
                }
                p {
                    @extend .texto-cart;
                }
            }
        }
        .col-2-price {
            width: 18%;
            .new-price {
                margin-bottom: 8px;
            }
            .old-price {
                @extend .texto-cart;
                text-decoration: line-through;
            }
        }
        .col-3-cantidad,
        .col-4-total {
            width: 18%;
        }
    }
}

#carritoGrid {
    h1 {
        margin: 30px 0 0 30px;
    }
}

@media (max-width: 991px) {
    /* CARRITO  */
    #carritoGrid {
        grid-template-areas: "header header" "nav nav" "tituloPagina tituloPagina" "resumenCarrito resumenCarrito" "carritoAmount carritoAmount" "footer footer"
    }
    .resumen-carrito-amount {
        margin: 10px 30px;
        margin-bottom: 100px;
    }
    .resumen-carrito-products {
        margin: 10px 30px;
    }
}

@media (max-width: 600px) {
    /* CARRITO */
    .product-cart {
        flex-wrap: wrap;
    }
    .prodcutos-agregados {
        .product-cart {
            border-bottom: 1px solid #cfcfcf;
            .col-2-price {
                .new-price,
                .old-price {
                    margin: 0;
                }
            }
            .col-2-price,
            .col-3-cantidad {
                width: 50%;
            }
            .col-1-img-name,
            .col-4-total {
                width: 100%;
            }
            .col-2-price,
            .col-3-cantidad,
            .col-1-img-name,
            .col-4-total {
                margin: 9px 0 0 0;
            }
            .col-3-cantidad,
            .col-4-total {
                text-align: right;
            }
        }
    }
}