/* product */

.picture-product {
    position: relative;
}

#productDetailGrid {
    .picture-product,
    .product-description {
        display: inline-block;
        vertical-align: top;
    }
}

#productDetailGrid {
    margin-top: 50px;
    .picture-product {
        padding-left: $paddingGeneral;
        img {
            width: 90%;
            margin: 5px;
        }
        .flag {
            left: 15px;
            position: absolute;
            background: $colorWhite;
            top: 35px;
            transform: rotate(270deg);
            padding: 3px 12px;
        }
    }
    .product-description {
        padding-right: $paddingGeneral
    }
}

@media (max-width: 991px) {
    /* CARRUSEL */
    .carousel {
        .item-carousel {
            width: 49%;
        }
    }
    .product-list {
        .carousel {
            .item-carousel {
                width: 49%;
            }
        }
    }
    .vitrine,
    .bloque-banners {
        padding: 20px;
    }
    /* PRODUCT DETAIL */
    #productDetailGrid {
        grid-template-areas: "header header" "nav nav" "tituloPagina tituloPagina" "fotosProducto fotosProducto" "descripcionProducto descripcionProducto" "footer footer";
        .picture-product {
            padding-left: 0;
            padding: 10px;
            img {
                margin: 0;
                width: 48%;
            }
            .flag {
                left: -10px;
            }
        }
        .product-description {
            padding-right: 0;
            padding: 10px;
        }
    }
}

@media (max-width: 600px) {
    /* CATEGORIAS */
    .categorys {
        flex-wrap: wrap;
        height: auto;
        padding: 20px 0;
        a {
            padding: 10px 20px;
            &:not(:last-child) {
                border-right: 0
            }
        }
    }
    /* CARRUSEL */
    .carousel {
        .item-carousel {
            width: 100%;
        }
    }
    .product-list {
        .carousel {
            .item-carousel {
                width: 100%;
            }
        }
    }
    .vitrine,
    .bloque-banners {
        padding: 10px;
    }
}